<div class="row">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">新增员工信息</h4>
        <form class="forms-sample" [formGroup]="form" (ngSubmit)="submit()">
          <div class="form-group">
            <label for="number">房间号</label>
            <input type="text" class="form-control" id="number" placeholder="房间号" formControlName="number" />
          </div>
          <div class="form-group">
            <label for="type">房间类型</label>
            <select class="form-control" id="type" formControlName="type">
              <option [ngValue]="0">单人</option>
              <option [ngValue]="1">双人</option>
              <option [ngValue]="2">三人</option>
              <option [ngValue]="3">套房</option>
            </select>
          </div>
          <div class="form-group">
            <label for="description">描述</label>
            <textarea class="form-control" id="description" rows="4" formControlName="description"></textarea>
          </div>
          <div class="form-group">
            <label for="price">价格(元)</label>
            <input type="text" class="form-control" id="price" placeholder="价格" formControlName="price">
          </div>
          <button type="submit" class="btn btn-gradient-primary mr-2">提交</button>
        </form>
      </div>
    </div>
  </div>
</div>
